/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10/10/2014, 17:48:31
    Author     : migue_000
*/
*{
    font-family: Tahoma;
}
input, textarea{
    
    border: 1px #cccccc solid;
}
fieldset{
    
    border: 1px #cccccc solid;
    display: inline; text-align: left;
}

body{
    margin:0;
    padding:0;
}

hr{
    border: 1px #cccccc solid;
}

#geral{
    width: 760px;
    margin:0 auto;	
}
#topo{
    width: auto;
    height: 100px;
    background-color: #666;
}
#menu ul{ margin: 0;   list-style: none;}
#menu ul li{    display: inline;}
#menu ul li a{
    text-decoration: none;
    float: left;
    padding: 5px 10px;
}
#conteudo{
    padding: 5px;
    background-color: #eee;
}

.botao{
    float: right;
    border: none;
    background-color: #666;
    margin: 2px;
    color: #eee;
    width: 100px;
    height: 30px;
}

.div_botoes{
    
    width: auto;
    height: 40px;
    padding-top: 10px;
    
}